.hidden{
	display: none;
	background-color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
body{
	background-color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #4a4d54;
	
	line-height: 1.5;
}
.center{
	display: inline-block;
	text-align: center;
	margin: auto;
	background-color: #fcfdff;
}
.center h1{
	font-size: 40px;
}
.center h2{
	font-size: 30px;
}
.center h3{
	font-size: 25px;
}
.center ol li{
	margin: 10px;
	font-size: 20px;
}
.center ol{
	display: inline-block;
	margin: auto;
	list-style: inside;
	list-style-type: upper-roman;

}
.center p{
	font-size: 20px;
}
.center a{
	text-decoration: none;
}
.nav {   /*nav bar styling*/
    background-color: #333;
    overflow: hidden;  
}
.nav a{
    float: left;
  	color: #f2f2f2;
  	text-align: center;
 	padding: 12px 14px;
 	text-decoration: none;
  	font-size: 17px;
}
.nav a#brand {   /*brand part of nav bar (busylearning)*/
  background-color: #4CAF50;
  color: white;
  font-family: sans-serif;
}

footer{
  background-color: #333;
  clear: both;
  position: relative;
  height: 130px;
  margin-top: 150px;
  text-align: center;
  width: 100%;
}
#contactFooter{
  color: #fff;
  display: inline-block;
  margin-top: 50px;
}
#contactFooter a{
  padding: 7px;
}
#contactFooter p{
  padding-top: 10px;
  font-size: 10px;
}
i{
  font-family: fontawesome !important;
}
.navRight{
	float: right;
}
.nav a:hover {   /*style when link hovering*/
  background-color: #f7f7f7;
  color: black;
}
.ty{
	overflow: hidden;
	width: 100%;
	display: block;
	height: auto;
}
.navRight{
	font-family: sans-serif;
}
#regularLi li{
	list-style-type: none;
	font-family: sans-serif;
	font-size: 25px;
}
#regularLi li a{
	text-decoration: none;
}